# OOP II Lab Task 2
```
Object Oriented Programming Lab 2
Section: PC-B
Completed by : Biplob Kumar Sutradhar (203-15-3923)
```
#### Daffodil International University

# Task1 (a)

In [ ]:
counter = 24

outputs = []
while counter >= -6:
  outputs.append(str(counter))
  counter -= 6

print(", ".join(outputs))

24, 18, 12, 6, 0, -6

# Task1 (b)

In [ ]:
counter = -10

outputs = []
while counter <= 20:
  outputs.append(str(counter))
  counter += 5

print(", ".join(outputs))

-10, -5, 0, 5, 10, 15, 20

# Task1 (c)

In [ ]:
counter = 18

outputs = []
while counter <= 63:
  outputs.append(str(counter))
  counter += 9

print(", ".join(outputs))

18, 27, 36, 45, 54, 63

# Task1 (d)

In [ ]:
counter = 18

outputs = []
i = 0
while counter <= 63:
  o = str(counter)
  outputs.append(o if i%2==0 else '-'+o)
  i+=1
  counter += 9

print(", ".join(outputs))

18, -27, 36, -45, 54, -63

# Task 2

In [ ]:
carName, numberOfTimePrint = input(), int(input())
print((carName+'\n')*numberOfTimePrint, end='')

Veyron
5
Veyron
Veyron
Veyron
Veyron
Veyron

# Task 3

In [ ]:
total = 0
for n in range(600+1):
  if n%7==0 and n%9==0:
    total += n
print(total)

2835

# Task 4

In [ ]:
total = 0
for n in range(600+1):
  isD7 = n%7==0
  isD9 = n%9==0
  if (isD7 or isD9) and not (isD7 and isD9):
    total += n
print(total)

39814

# Task 5

In [ ]:
print(' '.join([str(o) for o in range(10+1, 50) if o%2!=0]))

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

# Task 6

In [ ]:
import math
powList = [round(math.pow(o, 2)) for o in range(1, int(input())+1)]
total = 0
for i,n in  enumerate(powList):
  if i%2==0:
    total += n
  else:
    total -= n
print(total)

20
-210

# Task 7

In [ ]:
oddNumberCount = 0
oddNumberTotal = 0
for _ in range(10):
  userInput = int(input())
  if userInput%2 != 0:
    oddNumberTotal += userInput
    oddNumberCount += 1
print(f'The total of the odd numbers is {oddNumberTotal} and their average is {oddNumberTotal/oddNumberCount}')

1
2
3
4
5
6
7
8
9
10
The total of the odd numbers is 25 and their average is 5.0

# Task 8

In [ ]:
total = 0
for n in range(1, int(input())):
  if n%7 == 0:
    total += n
print(total)

50
196

# Task 9

In [ ]:
userInputList = [int(input()) for _ in range(5)]
for i in range(1, 5+1):
  total = 0
  for n in userInputList[:i]:
    total += n
  print(total)

11
-29
-3
47
50
11
-18
-21
26
76

# Task 10

In [ ]:
userInput = int(input())
outputList = []
while userInput>0:
  outputList.append(str(userInput%10))
  userInput //= 10
print(', '.join(outputList))

32768
8, 6, 7, 2, 3

# Task 11

In [ ]:
userInput = int(input())

lenUserInput = 0
while userInput>0:
  userInput%10
  userInput //= 10
  lenUserInput += 1
print(lenUserInput)

9876
4

# Task 12

In [ ]:
userInput = int(input())
outputList = []
while userInput>0:
  outputList.append(str(userInput%10))
  userInput //= 10
print(', '.join(outputList[::-1]))

3548
3, 5, 4, 8

## Task 13

In [ ]:
userInput = int(input())
outputList = []
for n in range(1, userInput+1):
  if userInput%n==0:
    outputList.append(str(n))

print(', '.join(outputList))
print(f'Total {len(outputList)} divisors.')

121
1, 11, 121
Total 3 divisors.

# Task 14

In [ ]:
userInput = int(input())
outputList = []
for n in range(1, userInput+1):
  if userInput%n==0:
    outputList.append(n)
    
print(userInput, f"is{'' if sum(outputList[:-1]) == userInput else ' not'} a perfect number")

33
33 is not a perfect number

# Task 15

In [ ]:
userInput = int(input())
flag = False
for n in range(2, userInput):
  if userInput%n==0:
    flag = True
    break

print(userInput, f"is{' not' if flag else ''} a prime number")

6
6 is not a prime number

# Task 16

In [ ]:
maxNumber = 0
minNumber = 0
userNumberRangeInput = int(input())
total = 0
for _ in range(userNumberRangeInput):
  userInput = int(input())
  total += userInput
  if _ == 0:
    maxNumber, minNumber = userInput, userInput
  else:
    if userInput > maxNumber:
      maxNumber = userInput
    
    if userInput < minNumber:
      minNumber = userInput

print('Maximum', maxNumber, '\nMinimum', minNumber, '\nAverage is', total/userNumberRangeInput)

5
10
4
-1
-100
1
Maximum 10
Minimum -100
Average is -17.2

# Task 17

In [ ]:
userInput = int(input())
for _ in range(userInput):
  for _ in range(userInput):
    print('+', end='')
  print()

5
+++++
+++++
+++++
+++++
+++++

# Task 18

In [ ]:
y, rangeNumber  = int(input()), int(input())
for _ in range(y):
  for rN in range(1, rangeNumber+1):
    print(rN, end='')
  print()

4
6
123456
123456
123456
123456

# Task 19

In [ ]:
xy = int(input())
for _ in range(1, xy+1):
  for rN in range(1, _+1):
    print(rN, end='')
  print()

4
1
12
123
1234

# Task 22

In [ ]:
x = 0
p = 0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
  q = x + p - (sum + 7 / 3) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if x > 5:
    p += 4 / 2
  else:
    p += (3 % 1)
sum = int(sum + p)
print(sum)

4
10
18
28
42
60
82
108
138
151

# Task 21

In [ ]:
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10):
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
  else:
    p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
115

# Task 22

In [ ]:
x = y = 0
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2
    print(sum)
    y = y + 1
  if (x > 7):
    x += 1
  else:
    x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

# Task 23

In [ ]:
x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
  y = x // 2
  while (y < x):
    p = (x + 10.0) / 2
    sum = (sum % 2) + x - y * 2 + int(p)
    print(sum)
    y = y + 2
  if (x > 5):
    x += 1
  else:
    x += 2

6
7
9
5
10
5
10
5
11
7
3

# Task 24

In [ ]:
test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10
test = 1
j = 0
k = 100

40
45
50
55
60
65
70
75
80
85

# Task 25

In [ ]:
nterms = int(input())
n1, n2 = 0, 1

while n1 < nterms:
    print(n1, end=' ')
    nth = n1 + n2
    n1 = n2
    n2 = nth

10
0 1 1 2 3 5 8

# Task 26

In [ ]:
userInput = int(input())
reminderList = []

while userInput > 0:
  reminderList.append(str(userInput%2))
  userInput //= 2
print(''.join(reminderList[::-1]))

13
1101

# Task 27

In [ ]:
import math
userInputList = input()
total = 0
lenUserInput  = len(list(userInputList))-1
for i, n in enumerate(userInputList):
  total += math.pow(2, lenUserInput-i)*int(n)
print(round(total))

11101
29

# Task 28

In [1]:
from math import fsum

def isPrime(userInput):
  for n in range(2, userInput):
    if userInput%n==0:
      return False
  return True

def isPerfect(userInput):
  outputList = []
  for n in range(1, userInput+1):
    if userInput%n==0:
      outputList.append(n)
  return fsum(outputList[:-1]) == userInput

primeNumberList = []
perfectNumberList = []

x, y = int(input()), int(input())
for n in range(x, y+1):
  if isPrime(n):
    primeNumberList.append(str(n))
  if isPerfect(n):
    perfectNumberList.append(str(n))

print(f'Between {x} and {y},')
print(f'Found {len(primeNumberList)} prime numbers')
print(f'Found {len(perfectNumberList)} perfect numbers')
print('Prime numbers:', ', '.join(primeNumberList))
print('Perfect numbers:', ', '.join(perfectNumberList))

2
6
Between 2 and 6,
Found 3 prime numbers
Found 1 perfect numbers
Prime numbers: 2, 3, 5
Perfect numbers: 6

# Task 29

In [ ]:
from numpy import prod
x, y, z = int(input()), int(input()), int(input())
for n in range(x, y+1):
  listNum = list(map(int, str(n)))
  number = prod(listNum)
  if number%z==0:
    print(number, end=' ')

351
356
9
45 90