# OOP II Lab Task 1
```
Object Oriented Programming Lab 2
Section: PC-B
Completed by : Biplob Kumar Sutradhar (203-15-3923)
```
Daffodil International University

## Task 1

In [ ]:
var1, var2 = input(), input()
var1, var2 = int(var1), int(var2)

print("Sum =", var1+var2)
print("Product =", var1*var2)
print("Difference  =", var1-var2)

1
3
Sum = 4
Product = 3
Difference  = -2

## Task 2

In [ ]:
import math
pi = math.pi
r = int(input())

print(f"Area is {pi*math.pow(r, 2)}\nCircumference is {2*pi*r}")

4
Area is 50.26548245743669
Circumference is 25.132741228718345

## Task 3

In [ ]:
a = int(input())
b = int(input())

if a>b:
  print("First is greater")
elif b>a:
  print("Second is greater")
else:
  print("The numbers are equal")

7
3
First is greater

## Task 4

In [ ]:
a = int(input())
b = int(input())

x = max(a, b)
y = min(a, b)

print(x-y)

5
5
0

## Task 5

In [ ]:
a = int(input())
if a%2==0:
  print("The number is even")
else:
  print("The number is odd")

4
The number is even

## Task 6

In [ ]:
a = int(input())
if a%2==0 or a%5==0:
  print(a)
else:
  print("Not a multiple of 2 OR 5")

3
Not a multiple of 2 OR 5

## Task 7

In [ ]:
a = int(input())
a2 = a%2 == 0
a5 = a%5 == 0

if a2 or a5:
  if a2 and a5:
    print("Multiple of 2 and 5 both")
  else:
    print(a)
else:
  print("Not a multiple we want")

10
Multiple of 2 and 5 both

## Task 8

In [ ]:
a = int(input())
if a%2 == 0 and a%5 == 0:
  print(a)
else:
  print("Not a multiple of 2 OR 5 both")

15
Not a multiple of 2 OR 5 both

## Task 9

In [ ]:
import math 
a = int(input())

hour = a//3600
extraH = a%3600
min =  extraH//60
sec = extraH%60

print(f"Hours: {hour} Minutes: {min} Seconds: {sec}")

500
Hours: 0 Minutes: 8 Seconds: 20

## Task 10

In [ ]:
a = int(input())

if a >= 0 and a <= 168:
  if a <= 40:
    print(a*200)
  else:
    print(8000+(a-40)*300)
elif a<0:
  print('Hour cannot be negative')
else:
  print("Impossible to work more than 168 hours weekly")

170
Impossible to work more than 168 hours weekly

## Task 11

In [ ]:
import math
s = int(input())
spow = math.pow(s, 2)

if s<100:
  l = 3000-125*spow
else:
  l = 12000/(4+(spow/14900))

if str(l)[-2:] == '.0':
  print(str(l)[:-2])
else:
  print(l)

120
2416.2162162162163

## Task 12

In [ ]:
s = int(input())

if s>=0 and s<=23:
  if s>=4 and s<=6:
    print("Breakfast")
  elif s==12 or s==13:
    print("Lunch")
  elif s==16 or s==17:
    print("Snacks")
  elif s==19 or s==20:
    print("Dinner")
  else: 
    print("Patience is a virtue")
else:
  print("Wrong Time")

-1
Wrong Time

## Task 13

In [ ]:
s = int(input())

if s<0 or s>100:
  print("Invalid mark")
else:
  if s<50:
    print("F")
  elif s>=50 and s<60:
    print("E")
  elif s>=60 and s<70:
    print("D")
  elif s>=70 and s<80:
    print("C")
  elif s>=80 and s<90:
    print("B")
  elif s>=90:
    print("A")

50
E

## Task 14

In [ ]:
#Task 14

d = int(input())/1000
t = int(input())/3600

s= d/t
print(f"{s} km/h")
if s<60:
  print("Too slow. Needs more changes.")
elif s>=60 and s<=90:
  print("Velocity is okay. The car is ready!")
else:
  print("Too fast. Only a few changes should suffice.")

160000
7200
80.0 km/h
Velocity is okay. The car is ready!

## Task 15

In [ ]:
d = float(input())
s = float(input())

if d<0 or d>4:
  print("Invalid input")
elif d<3.80 or s<30:
  print("The student is not eligible for a waiver")
else:
  if d>=3.80 and d<=3.89:
    print("The student is eligible for a waiver of 25 percent")
  elif d>=3.90 and d<=3.94:
    print("The student is eligible for a waiver of 50 percent")
  elif d>=3.95 and d<=3.99:
    print("The student is eligible for a waiver of 75 percent")
  elif d==4.00:
    print("The student is eligible for a waiver of 100 percent")

3.93
78
The student is eligible for a waiver of 50 percent

## Task 16

In [ ]:
p = 5
q = 6
r = 9
sum = 0
if (p < 12):
  print(r + 2)
else:
  print(r + p)
if (q > 20):
  print(r + 19)
elif (q <= 6):
  print(q + 3)
else:
  print(p + q + r)
if (r > 15):
  print(r)
elif (r == 0):
  print(p + q)
else:
  print(p)
if (sum != 0):
  print(3)
else:
  print(sum + 32)
if (p>0 and r<10):
  print(p+r)
else:
  print(p-r)

11
9
5
32
14

## Task 17

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)
print(result1,result2,result3,result4,result5,result6,result7,result8,result9,result10)

True False True True False True False True False False

## Task 18

In [ ]:
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)
print(result1,result2,result3,result4,result5,result6,result7,result8,result9,result10)

False False True False False True False False False True

## Task 19

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)
print(result1,result2,result3,result4,result5,result6,result7,result8,result9,result10)

False True True True True True False True True False

## Task 20

In [ ]:
a = int(input())

if not a%2==0 or a%5==0:
  print(a)
else:
  print("No")

3
3

## Task 21

In [ ]:
a = int(input())

if a%2==0 and a%5==0:
  print("No")
else: print(a)

19
19

## Task 22

In [ ]:
a = 120 * int(input())
b =  75 * int(input())
sum = a+b
if sum<300:
  disc=sum
elif sum>=300 and sum<500:
  disc=sum-10
elif sum>=500 and sum<750:
  disc=sum-20
elif sum>=750 and sum<1000:
  disc=sum-50
else:
  disc= sum-150

print(f"Previous total: {sum}")
print(f"New total after discount: {disc}")

5
8
Previous total: 1200
New total after discount: 1050

## Task 23

In [ ]:
import math

f= int(input())
c = (f-32)*0.561
c = math.floor(c)
print(f"{c} degrees C")

if c<20:
  print("Winter")
elif c>=20 and c<=25:
  print("Autumn")
elif c>25 and c<30:
  print("Spring")
else:
  print("Summer")

32
0 degrees C
Winter